<h1>index.vtl</h1>

<h1>Your Dictionary</h1>

<a href="/words">View All Words</a>
<a href="/words/new">Add a New Word</a>

<hr>
<h2>All the words in your Dictionary:</h2>
#foreach($word in $allWords)
 <h3><a href="/words/$word.getId()">$word.getNameOfWord()</a></h3>
#end
