<h1>word-form.vtl</h1>

<p>Add a word here:</p>

<form action="/words" method="post">
  <label for="wordInput">New Word</label>
  <input id="wordInput" name="wordInput" type="text">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
