<h1>word-definition-form.vtl</h1>


<h1>Add a Definition to $word.getNameOfWord():</h1>

<form action="/definitions" method="post">
  <input id='wordId' name='wordId' type='hidden' value='$word.getId()'>

  <div class="form-group">
    <label for="definitionInput">Definition</label>
    <input id="definitionInput" name="definitionInput" type="text">
  </div>

  <button type="submit" class="btn btn-default">Add task</button>
</form>
